<h1>Personal Informations</h1>

<%= render partial: 'flight_infos', locals: {flight: Flight.find(params[:selected_flight])}%>

<%= form_for @booking do |f| %>
  <% @booking.passengers.each_with_index do |passenger, index| %>
    <%= f.fields_for :passengers, passenger do |ff| %>
      <h3>Details for Passenger <%= "#{index+1}" %></h3>
      <div class="field">
        <%= ff.label :name %>
        <%= ff.text_field :name %>
      </div>

      <div class="field">
        <%= ff.label :email %>
        <%= ff.email_field :email, autocomplete: :email %>
      </div>
    <% end %>
  <% end %>

  <div class="field">
     <%= f.hidden_field :flight_id, value: params[:selected_flight] %>
  </div>

  <div class="action">
    <%= f.submit%>
  </div>
<% end %>
